* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Tektur', cursive;
    min-height: 100vh;
}

header {
    font-size: 2rem;
}

header, h1, form {
    min-height: 20vh;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: .5rem;
    font-size: 2rem;
    border-radius: 1rem;
    background: #ffffff;
    
}

form button{
    color: #000000;
    background: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover{
    background: #000000;
    color: #ffffff;
}

.todo-cont{
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'Victor Mono', monospace;
}

.todo-ls{
    min-width: 70%;
}

.todo{
    margin: 0.5rem;
    background-color: #ffffff;
    color: #000000;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    padding: .5rem;

    transition: all 1s ease;
}

.todo li {
    flex: 1;
}

.complete-btn, .delete-btn {
    background: #000000;
    color: #ffffff;
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check{
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: .25;
}

.removal {
    transform: translateX(10rem);
    opacity: 0;
}